body{
  background-color: rgb(3, 1, 19);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
}

.input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 20px;
  margin-right: 20px;
}

.button {
  padding: 5px 15px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}